@use '../../../assets/styles/mixin.module' as mixin;

.container {
  display: flex;
  flex-direction: column;
  .title {
    font-size: 20px;
    font-weight: 300;
    color: #05b4d3;
    margin-top: 10px;
    @include mixin.contacts-content-padding;
  }
}