@use '../../../assets/styles/variable.module' as var;
@use '../../../assets/styles/mixin.module' as mixin;

.content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px 10px;
  background-color: var.$adding-background-color;
  flex-grow: 1;
  @include mixin.border-bottom;

}
