@use '../../../assets/styles/variable.module' as var;
@use '../../../assets/styles/mixin.module' as mixin;

.content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px 10px;
  background-color: var.$adding-background-color;
  height: 68vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  @include mixin.border-bottom;
  &::-webkit-scrollbar{
    display: none;
  }

}
