$border-color: rgba(175, 175, 170, 0.8);
$main-background-color: #f5f4f4;
$adding-background-color: #ffffff;
$received-msg-bg-color : #323a41;
$sent-msg-bg-color: #a8a7a7;
$user-name-text-color: #1a1a1a;
